.about-hero{
position:relative;
padding:120px 8%;
background:#ffffff;
overflow:hidden;
text-align:center;
}


.about-glow{

position:absolute;
width:500px;
height:500px;

background:rgba(249,115,22,.15);

filter:blur(120px);

border-radius:50%;

top:-250px;
left:50%;

transform:translateX(-50%);

}



.about-container{
position:relative;
max-width:900px;
margin:auto;
z-index:2;
}


.about-tag{

padding:10px 20px;

background:#fff7ed;
  color:#f97316;
  border:1px solid #fed7aa;

}



.about-hero h1{

font-size:70px;

color:#1f2937;

margin:30px 0;

}


.about-hero h1 span{

color:#f97316;

}



.about-hero p{

color:#64748b;

font-size:18px;

line-height:1.8;

max-width:700px;

margin:auto;

}



.about-hero button,
.about-cta button{

margin-top:30px;

padding:16px 35px;

border:none;

border-radius:12px;

  background:linear-gradient(
    135deg,
    #f97316,
    #fb923c
  );

color:white;

font-weight:600;

cursor:pointer;

}





.about-story,
.platform-section,
.values-section,
.mission-section,
.vision-section{

padding:20px 9%;

background:#ffffff;

}



.story-card,
.platform-card,
.value-card,
.mission-dashboard{

 background:#ffffff;
  border:1px solid #fed7aa;

border-radius:24px;

padding:40px;

}



h2{

color:#1f2937;

font-size:42px;

margin-bottom:25px;

}


p{

color:#64748b;

line-height:1.8;

}




.platform-section{

display:grid;

grid-template-columns:1fr 1fr;

gap:60px;

align-items:center;

}



.platform-section li{

color:#475569;

margin:15px 0;

list-style:none;

}



.platform-section svg{

color:#22c55e;

margin-right:10px;

}



.platform-card div,
.metric{

background:#fff7ed;
  color:#1f2937;

padding:18px;

border-radius:12px;

margin-top:15px;

display:flex;

justify-content:space-between;

}



.values-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.value-card{

text-align:center;

}



.value-card svg{

font-size:35px;

color:#f97316;

}



.value-card h3{

color:#1f2937;

}




.mission-section{

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

}



.about-stats{

padding:90px 8%;

background:#ffffff;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}



.about-stats div{

background:#ffffff;
  border:1px solid #fed7aa;

padding:35px;

border-radius:20px;

text-align:center;

}



.about-stats h2{

color:#f97316;

font-size:45px;

}



.vision-section{

text-align:center;

}



.about-cta{

padding:130px 8%;

text-align:center;

  background:#ffffff;
  border-top:1px solid #fed7aa;

}



.about-cta h2{

font-size:55px;
color:#1f2937;

}




@media(max-width:900px){


.platform-section,
.mission-section,
.values-grid,
.about-stats{

grid-template-columns:1fr;

}


.about-hero h1{

font-size:45px;

}


}