.benefits{
  padding:120px 8%;
  background:#ffffff;

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}


.section-tag{
  color:#f97316;
}


.benefits-left h2{
  font-size:52px;
  color:#1f2937;
  margin:20px 0;
}

.benefits-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:24px;
}

.benefit-card{
  background:#ffffff;

  border:1px solid #fed7aa;

  padding:30px;

  border-radius:20px;
}


.benefit-card h3{
  color:#f97316;
  font-size:42px;
}