.benefits{
  padding:120px 8%;
  background:#0B1120;

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}

.section-tag{
  color:#60A5FA;
}

.benefits-left h2{
  font-size:52px;
  color:white;
  margin:20px 0;
}

.benefits-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:24px;
}

.benefit-card{
  background:#111827;

  border:1px solid rgba(255,255,255,.05);

  padding:30px;

  border-radius:20px;
}

.benefit-card h3{
  color:#3B82F6;
  font-size:42px;
}