.features{
  padding:120px 8%;
  background:#0b0d1a;
}

.features-top{
  text-align:center;
  max-width:800px;
  margin:auto;
}

.features-top h2{
  font-size:52px;
  color:white;
  margin-bottom:20px;
}

.features-top p{
  color:#94a3b8;
}

.features-grid{
  margin-top:70px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:24px;
}

.feature-box{
  background:rgba(255,255,255,.03);
  border:1px solid rgba(255,255,255,.08);
  border-radius:20px;
  padding:30px;
  transition:.3s;
}

.feature-box:hover{
  transform:translateY(-8px);
  border-color:#2a7de1;
}

.feature-number{
  color:#2a7de1;
  font-size:32px;
  font-weight:700;
  margin-bottom:20px;
}

.feature-box h3{
  color:white;
  margin-bottom:15px;
}

.feature-box p{
  color:#94a3b8;
  line-height:1.7;
}