.forgot-page{

  min-height:100vh;

  background:#071126;

  display:flex;

  align-items:center;

  justify-content:center;

  position:relative;

  overflow:hidden;

  padding:30px;

}



.forgot-glow{

  position:absolute;

  width:500px;

  height:500px;

  background:rgba(59,130,246,.18);

  filter:blur(140px);

  border-radius:50%;

  top:-200px;

  left:50%;

  transform:translateX(-50%);

}




.forgot-card{

  position:relative;

  z-index:2;


  width:420px;


  background:rgba(15,23,42,.75);


  border:1px solid #FDBA74;


  backdrop-filter:blur(18px);


  padding:45px;


  border-radius:28px;


  box-shadow:

  0 30px 80px rgba(0,0,0,.35);


}



.forgot-icon{

  width:70px;

  height:70px;


  border-radius:20px;


  display:flex;

  align-items:center;

  justify-content:center;


  background:

  linear-gradient(
    135deg,
    #3B82F6,
    #6366F1
  );


  color:white;


  font-size:30px;


  margin-bottom:25px;

}




.forgot-card h1{

  color:white;

  font-size:36px;

  margin-bottom:15px;

}



.forgot-card p{

  color:#94A3B8;

  line-height:1.7;

  margin-bottom:30px;

}




.forgot-card label{

  color:#CBD5E1;

  display:block;

  margin-bottom:8px;

  font-size:14px;

}




.forgot-card input{

  width:100%;


  padding:15px;


  border-radius:12px;


  background:rgba(255,255,255,.05);


  border:1px solid #FDBA74;


  color:white;


  outline:none;


  margin-bottom:25px;


}



.forgot-card input:focus{

  border-color:#60A5FA;

}





.forgot-card button{


  width:100%;


  padding:15px;


  border:none;


  border-radius:12px;


  background:

  linear-gradient(
    135deg,
    #3B82F6,
    #6366F1
  );


  color:white;


  font-weight:600;


  cursor:pointer;


  transition:.3s;

}




.forgot-card button:hover{


  transform:translateY(-3px);


  box-shadow:

  0 15px 35px rgba(59,130,246,.35);


}




.back-login{


  margin-top:25px;


  display:flex;


  justify-content:center;


  align-items:center;


  gap:8px;


  color:#60A5FA;


  text-decoration:none;


  font-size:15px;


}



.back-login:hover{

  color:white;

}




@media(max-width:500px){


  .forgot-card{

    width:100%;

    padding:30px;

  }


}