.how-section {
  padding: 80px 100px;
  text-align: center;
  background: white;
}

.steps-container {
  display: flex;
  gap: 25px;
  margin-top: 50px;
}

.step-card {
  flex: 1;
  background: #f8fafc;
  padding: 30px;
  border-radius: 15px;
}

.step-number {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  background: #ff6b00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}