.navbar{
  position:sticky;
  top:0;
  z-index:1000;

  height:80px;
  padding:0 7%;

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:#ffffff;

  backdrop-filter:none;

  border-bottom:1px solid #f1f0ef;
}

.logo h2{
  margin:0;
  color:#f77817;
  font-size:30px;
  font-weight:800;
}

.nav-menu{
  display:flex;
  list-style:none;
  gap:40px;
}

.nav-menu a{
  color:#0b0b0b;
  text-decoration:none;
  font-weight:500;
  transition:.3s;
}

.nav-menu a:hover{
  color:#f97316;
}

.nav-buttons{
  display:flex;
  gap:12px;
}

.nav-login-btn{
  padding:12px 24px;
  border:3px solid #f09329;
  color:#f09329;
  border-radius:10px;
}

.nav-start-btn{
  padding:12px 24px;
  border-radius:10px;
  background:#ec721b;
  color:white;
}

.nav-start-btn:hover{
  background:#ec721b;
}

.navbar a,
.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
  text-decoration: none;
}

.nav-menu li {
  list-style: none;
}